* {
  padding: 0;
  margin: 0; }

.Weather .title {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  opacity: 1;
  height: auto;
  position: relative;
  top: 10%;
  font-size: 40px;
  margin: 0px;
  padding: 20px 0px;
  transition: all 0.5s ease 0s; }
  .Weather .title.header {
    font-size: 20px;
    transition: all 0.3s ease 1.4s;
    padding: 20px 20px; }
.Weather .weather-content {
  max-width: 1500px;
  height: calc(100vh - 64px);
  width: 100%;
  margin: 0px auto; }
  .Weather .weather-content .wt-content {
    text-align: center;
    transition: all 0.8s ease 0.5s; }
  .Weather .weather-content .input-form {
    position: relative;
    transition: all 0.8s ease 0.5s; }
  .Weather .weather-content .info-search {
    position: relative;
    top: 0%;
    padding: 20px; }
  .Weather .weather-content .loading {
    margin-top: 120px;
    display: flex;
    justify-content: center; }
  .Weather .weather-content .notfound {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    opacity: 1;
    height: auto;
    position: relative;
    top: 10%;
    font-size: 25px;
    margin: 0px;
    transition: all 0.5s ease 0s; }
